<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-1.3.1.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js" ></script> 
    <script type="text/javascript" src="digest.js"></script>
</head>
<body ng-app="app">
    <div id="div1" ng-controller="emp">
       
        a = <input type="text" ng-model="a"/>
        <div>a = {{a}}</div>
        <hr>
       
        
        b = <input type="text" ng-model="b"/>
        <div>b = {{b}}</div>
       <hr>

       <button ng-click="calcSum()">Calc Sum</button>
       <button onclick="btnClick()">Sum</button>
       <div>sum = {{s}}</div>
        
    </div>
</body>
</html>